.App {
  text-align: center;
}


.App-header {
  background-color: #232323;
  height: 150px;
  padding: 10px;
  color: white;
  border-bottom: solid turquoise 2px;
  font-size: 2em;
  padding-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}


body {
  background-color: #232323;
}

ul {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 2em;
  text-transform: capitalize;
}

.input {
  padding-top: 50px;
}

button {
  background: transparent;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
  color: turquoise;
  font-size: 1.5rem;
  padding-left: 20px;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 3em;
  text-transform: capitalize;
  float: left;
  

}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 2em;
  text-transform: capitalize;

}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 2em;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-right: 60px;
  float: right;

}

li {
  display: inline;
  margin-left: 50px;
}

img {
  border-radius: 50%;
}